{% extends "nav.html" %}

{% load static %}

{% block content %}
    {% csrf_token %}

    <div class="bg-light p-5 rounded">
        <h1>Welcome to Health Tracker!</h1>
        <p>Your one-stop shop for tracking your healthy living habits!</p>
        <p>Here, you can record your healthy habits and gain points for them. By logging times that you have excercised, meditated, eaten healthy or even gotten enough sleep, you will earn points, and as your points accumulate you will start earning badges.</p>
        <p>You can track how many points you've earned, not only through your badges but also a graph in your profile that will show your the points you've earned and a breakdown of how many points you have earned per category. You will also be able to see your daily streaks for healthy living and break those streaks down further into streaks of each habit. You can even look at your friends' profiles to see how they have been doing!</p>
        <p>We hope that Health Tracker helps you in developing healthy habits and further benefits your health and wellness!</p>
        <p>Happy tracking!</p>

    </div>
{% endblock %}
