{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Default title, can be overrided in templates extending this -->
    <title>{% block title %}Health Tracker{% endblock %}</title>

    <meta name="description" content="Track your health!">
    <meta name="author" content="Will Fenton, Natalia Hassan, Jacques Leong-Sit, Jun Li, Tristen Glover">

    <!-- https://www.pngfind.com/mpng/TJimwh_health-fitness-icon-healthy-food-icon-png-transparent/ -->
    <link rel="site icon" type="image/jpg" href="{% static 'icon.png' %}"/>

    <!-- https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F179%2F179250.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fbronze-medal_179250&tbnid=BIRl0BXQE3Jm9M&vet=12ahUKEwiq46_O8fnyAhWHlJ4KHViaAocQMygAegUIARC5AQ..i&docid=lukbdTdV_3VEvM&w=512&h=512&itg=1&q=bronze%20medal%20icon&ved=2ahUKEwiq46_O8fnyAhWHlJ4KHViaAocQMygAegUIARC5AQ -->
    <link rel="bronze medal icon" type="image/jpg" href="{% static 'bronze.png' %}"/>

    <!-- https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F179%2F179251.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fsilver-medal_179251&tbnid=GF19R0aIv0Wd1M&vet=12ahUKEwjF8czm8fnyAhWIAzQIHSFmDQMQMygAegUIARC7AQ..i&docid=YOMNozEOMoFvzM&w=512&h=512&itg=1&q=silver%20medal%20icon&ved=2ahUKEwjF8czm8fnyAhWIAzQIHSFmDQMQMygAegUIARC7AQ -->
    <link rel="silver medal icon" type="image/jpg" href="{% static 'silver.png' %}"/>

    <!-- https://www.google.com/imgres?imgurl=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F179%2F179249.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fgold-medal_179249&tbnid=6NF5F4z6HtsC5M&vet=12ahUKEwjorIjx8fnyAhXyIjQIHcWHAQIQMygEegUIARDhAQ..i&docid=0Kz-e7cpGWiBlM&w=512&h=512&itg=1&q=gold%20medal%20icon&ved=2ahUKEwjorIjx8fnyAhXyIjQIHcWHAQIQMygEegUIARDhAQ -->
    <link rel="gold medal icon" type="image/jpg" href="{% static 'gold.png' %}"/>

    {% block head %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<!-- Stuff goes in here -->
{% block body %}{% endblock %}

<!-- Vue.js development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Datejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
</body>
</html>
