{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Default title, can be overrided in templates extending this -->
    <title>{% block title %}Health Tracker{% endblock %}</title>

    <meta name="description" content="Track your health!">
    <meta name="author" content="Will Fenton, Natalia Hassan, Jacques Leong-Sit, Jun Li, Tristen Glover">

    <!-- https://www.pngfind.com/mpng/TJimwh_health-fitness-icon-healthy-food-icon-png-transparent/ -->
    <link rel="site icon" type="image/jpg" href="{% static 'icon.png' %}"/>

    {% block head %}{% endblock %}

    <style>
        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<!-- Stuff goes in here -->
{% block body %}{% endblock %}

<input type="hidden" id="userId" value={{ user.id }}>

<!-- Vue.js development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>
