{% extends "base.html" %}

{% load static %}

{% block head %}
    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Health Tracker
                <img src="{% static 'icon.png' %}" width="30" height="30" class="d-inline-block align-top ms-2" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about' or request.path == '/' %}active{% endif %}"
                           href="{% url 'base_app:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if not user.is_authenticated %}disabled{% endif %} {% if user.is_authenticated and user.id == profile_user.id %}active{% endif %}"
                           href="{% url 'base_app:my_profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if user.is_authenticated %}disabled{% endif %} {% if request.path == '/login' %}active{% endif %}"
                           href="{% url 'base_app:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if not user.is_authenticated %}disabled{% endif %}"
                           href="{% url 'base_app:logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if user.is_authenticated %}disabled{% endif %} {% if request.path == '/register' %}active{% endif %}"
                           href="{% url 'base_app:register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/willfenton/health-tracker">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% block js %}{% endblock %}
{% endblock %}